body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.plan-container {
    display: flex;
    margin: 0 14%;
}

.ticket-plan {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ticket_plan-lg {
    width: 450px;
}

.plan-title {
    font-size: 20px;
    font-weight: bold;
}

.plan-price {
    font-size: 18px;
    color: #121212;
}

.plan-details {
    margin-top: 10px;
}

.buy-button {
    background-color: #8c0505;
    color: #fdf8f8;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.fixed-footer {

bottom: 0;
width: 100%;
background-color: red;
padding: 4px;
text-align: center;
color: white;


}